<p>
    <b>Name: </b><span>@CurrentContact.FirstName @CurrentContact.LastName</span>
    <br />
    <b>Email: </b><span>@CurrentContact.Email</span>
</p>


@code
{
    [Parameter]
    public Contact CurrentContact { get; set; }
}