<label>
    <input type="checkbox" @bind="DisplayEmail"/>
    <span>Display Email</span>
</label>

<br />

@if(Contacts is null)
{
    @NullFragment
}
else if(Contacts.Count == 0)
{
    @EmptyContacts
}
else
{
    @foreach(var contact in Contacts)
    {
        <ContactComponent01 CurrentContact="contact" DisplayEmail="@DisplayEmail" DeleteCurrentContact="DeleteContact"></ContactComponent01>
    }
}

@code
{
    [Parameter]
    public RenderFragment NullFragment { get; set; }
    [Parameter]
    public RenderFragment EmptyContacts { get; set; }
    [Parameter]
    public List<Contact> Contacts{ get; set; }

    private bool DisplayEmail = false;

    private void DeleteContact(Contact contact)
    {
        Contacts.Remove(contact);
    }
}