@page "/demo02"
@inject IContactService contactService
@using BlazorServerAppDemo.Pages.ContactComponents

<h3>Demo02</h3>

<ContactList Contacts="contactService.GetContacts()">
    <EmptyContacts>
        <b>No contact to display</b>
    </EmptyContacts>
    <NullFragment>
        <b>Contacts are loading..</b>
    </NullFragment>
</ContactList>

