@page "/"
@using BlazorServerAppDemo.Pages.ContactComponents

<label>
    <input type="checkbox" @bind="DisplayEmail"/> 
    <span>Display Email</span>
</label>
<br />

@foreach(var contact in contacts)
{
    <ContactComponent01 CurrentContact="contact" DisplayEmail="@DisplayEmail" DeleteCurrentContact="@DeleteContact"></ContactComponent01>
}
 
<br />
<MyTextBox placeholder="Placeholder 01" typeof="text" disabled="disabled"></MyTextBox>

<br />
<MyTextBox @attributes="@(new Dictionary<string, object>
{
    {"placeholder", "Placeholder 02"},
    {"type", "text"}
})"></MyTextBox>

<br />
<MyTextBox @attributes="MyTextAttributes"></MyTextBox>


@code{
    private List<Contact> contacts;

    private Dictionary<string, object> MyTextAttributes = new Dictionary<string, object>
    {
        {"placeholder", "Placeholder 03"},
        {"type", "number"}
    };
    private bool DisplayEmail = false;  

    protected override void OnInitialized()
    {
        base.OnInitialized();

        contacts = new List<Contact>
        {
            new Contact
            {
                FirstName = "Sreejan",
                LastName = "Chowdhury",
                Email = "sc@gmail.com"
            },
            new Contact
            {
                FirstName = "Akash",
                LastName = "Derasree",
                Email = "skyad@gmail.com"
            }
        };
    }

    private void DeleteContact(Contact contact)
    {
        contacts.Remove(contact);
    }
}