@page "/"
@using BlazorServerAppDemo.Pages.ContactComponents

<ContactList Contacts="contacts">
    <NullFragment>
        <br />
        <span>Contacts are loading...</span>
        <br />
    </NullFragment>
    <EmptyContacts>
        <br />
        <span>No contact to display...</span>
        <br />
    </EmptyContacts>
</ContactList> 

<br />
<MyTextBox placeholder="Placeholder 01" typeof="text" disabled="disabled"></MyTextBox>

<br />
<MyTextBox @attributes="@(new Dictionary<string, object>
{
    {"placeholder", "Placeholder 02"},
    {"type", "text"}
})"></MyTextBox>

<br />
<MyTextBox @attributes="MyTextAttributes"></MyTextBox>


@code{
    private List<Contact> contacts;

    private Dictionary<string, object> MyTextAttributes = new Dictionary<string, object>
    {
        {"placeholder", "Placeholder 03"},
        {"type", "number"}
    };
    private bool DisplayEmail = false;  

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(5000);

        contacts = new List<Contact>
        {
            new Contact
            {
                FirstName = "Sreejan",
                LastName = "Chowdhury",
                Email = "sc@gmail.com"
            },
            new Contact
            {
                FirstName = "Akash",
                LastName = "Derasree",
                Email = "skyad@gmail.com"
            }
        };

        await base.OnInitializedAsync();

    }
}