@page "/"
@using BlazorServerAppDemo.Pages.ContactComponents

<h1>Index Page</h1>

<ContactList Contacts="contacts">
    <NullFragment>
        <br />
        <span>Contacts are loading...</span>
        <br />
    </NullFragment>
    <EmptyContacts>
        <br />
        <span>No contact to display...</span>
        <br />
    </EmptyContacts>
</ContactList> 

<br />
<MyTextBox placeholder="Placeholder 01" typeof="text" disabled="disabled"></MyTextBox>

<br />
<MyTextBox @attributes="@(new Dictionary<string, object>
{
    {"placeholder", "Placeholder 02"},
    {"type", "text"}
})"></MyTextBox>

<br />
<MyTextBox @attributes="MyTextAttributes"></MyTextBox>

