@page "/sample-javascript"
@inject IJSRuntime jsRuntime

<h3>SampleJavascript</h3>

<button @onclick="ShowAlert">Display Alert</button>
<br />

<span>@confirmResult</span>
<br />
<button @onclick="ShowConfirm">Display Confirm</button>
<br />
<br />
<button onclick="callMethod()">Get Value</button>
<br />
<br />
<button @onclick="CallInvokeMethodJavascript">Call Instance Method</button>

@code
{
    private string confirmResult;

    private void ShowAlert()
    {
        // JS Code - alert("Hello World");
        jsRuntime.InvokeVoidAsync("alert", "Hello World");
    }

    private async Task ShowConfirm()
    {
        // JS Code - confirm("Do you want to proceed?");
        bool result = await jsRuntime.InvokeAsync<bool>("confirm", "Do you want to proceed?");
        confirmResult = result.ToString();
    }

    [JSInvokable]
    public static Task<string> GetValueFromMethod()
    {
        return Task.FromResult<string>("Hello World!");
    }

    [JSInvokable]
    public string GetValueFromInstance()
    {
        return "Hello World from Instance";
    }

    private async Task CallInvokeMethodJavascript()
    {
        // var sampleJsReference = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/sample.js");
        // await sampleJsReference.InvokeVoidAsync("callInstanceMethod", DotNetObjectReference.Create(this));
        await jsRuntime.InvokeVoidAsync("callInstanceMethod", DotNetObjectReference.Create(this));
    }
}